@import "./styles/constants";

#layoutWrapper{
  margin: 0 auto;
  padding: 24px;
  min-width: 180px;
  width: 180px;
  height: 100%;


  @include mobile {
    width: 380px;
  }

  @include tablet {
    width: 580px;
  }

  @include laptop {
    width: 780px;
    padding:24px 130px 0 130px;
  }

  @include desktop {
    width: 980px;
    padding:24px 130px 0 130px;
  }

  @include large {
    width: 1180px;
    padding:24px 130px 0 130px;
  }
}
