@import "../../styles/constants";



#filmsListWrapper{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 180px);

   //@media ${device.mobile} {
   //  display: none;
   //}


  //display: flex;
  //flex-wrap: wrap;

  //& > * {
  //  margin-top: 20px;
  //}
  //
  //& > *:not(:last-child) {
  //  margin-right: 20px;
  //}

}
